#fgsnav {
  position: absolute;
  right: 50px;
  top: 80px;
  z-index: 1000;
  background: transparent;
  border: 0px solid transparent;

  ul {
    li a {
      border-bottom: 2px solid #fff;
      padding: 15px 30px;

      span {
        font-size: .8em;
        font-family: $bodyFont;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $white;
        display: block;
        position: relative;
        white-space: nowrap;
        transition: transform 0.3s;
        visibility: visible;

        &::before {
          display: block;
          position: absolute;
          top: 20px;
          content: attr(data-hover);
          height: 100%;
          width: 100%;
          font-family: $bodyFontBold;
          visibility: hidden;
        }
      }

      &:hover {
        span {
          transform: translateY(-20px);
          visibility: hidden;

          &::before {
            visibility: visible;
          }
        }
      }
    }
  }
}
