.logo--header {
  position: absolute;
  left: 50px;
  top: 35px;
  z-index: 200;

  @include phone {
    left: 5px;
    top: 5px;
  }

  img {
    height: 90px;
    width: auto;

    @include phone {
      height: 65px;
    }
  }
}

#fgsnav {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1000;
  background: transparent;
  border: 0px solid transparent;

  @include phone {
    top: 10px;
    right: 0;
  }

  @include tablet {
    top: 10px;
    right: 10px;
  }

  ul {
    @include phone {
      width: 100vw;
      height: 100vh;
      background: $black;
      opacity: .9;
    }

    li a {
      border-bottom: 2px solid $white;
      padding: 15px 30px;

      @include phone {
        opacity: .8;
      }

      &::after {
        content: '';
        border-bottom: 4px solid $white;
        padding-bottom: 14px;
        width: 0;
        display: block;
        position: absolute;
        left: 0;
        @include transition(.5s ease);
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      span {
        font-size: .8em;
        font-family: $bodyFont;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $white;
        display: block;
        position: relative;
        white-space: nowrap;
        @include transition(transform 0.3s);
        visibility: visible;

        &::before {
          display: block;
          position: absolute;
          top: 20px;
          content: attr(data-hover);
          height: 100%;
          width: 100%;
          font-family: $bodyFontBold;
          visibility: hidden;
        }
      }

      &:hover {
        span {
          transform: translateY(-20px);
          visibility: hidden;

          &::before {
            visibility: visible;
          }
        }
      }
    }
  }

  .navbar-default .navbar-collapse {
    border-color: transparent;
  }

  .navbar-collapse {
    box-shadow: inset 0 0 0 rgba(255,255,255,0);
    border-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: transparent;
  }

  .navbar-toggle {
    background-color: $white;
    opacity: .8;
    margin-right: 20px;
  }

  .icon-bar {
    background-color: $gold;;
  }
}
