body {
  font-family: $bodyFont;
}

h1 {
  font-family: $headerFont;
}

.site-branding, .screen-reader-text {
  display: none;
}

.animate-delay1 {
  @include animation-delay(3.5s);
}

.animate-delay2 {
  @include animation-delay(4s);
}

.animate-delay3 {
  @include animation-delay(4.2s);
}
