@charset "UTF-8";

@font-face {
  font-family: Bebas;
  src: url("././assets/fonts/BebasNeue Regular.otf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("././assets/fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
  font-family: HNBold;
  src: url("././assets/fonts/HelveticaNeueLTStd-Bd.otf");
}


/* DEFAULT COLORS / FONTS
============================================= */

$black: #000;
$light-gray:  #bbb;
$dark-gray: #888;
$red: #c44741;
$white: #fff;

$gray: #848484;
$gold: #DAA520;

$headerFont: 'Bebas', Geneva, sans-serif;
$bodyFont: 'HelveticaNeue', Verdana, sans-serif;
$bodyFontBold: 'HNBold', Verdana, sans-serif;



/* REGULAR MIXINS
============================================= */

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin animation-delay($args) {
  -moz-animation-delay: $args; /* Firefox */
  -webkit-animation-delay: $args; /* Safari and Chrome */
  -o-animation-delay: $args; /* Opera */
  animation-delay: $args;
}

@mixin animation-duration($args) {
  -moz-animation-duration: $args; /* Firefox */
  -webkit-animation-duration: $args; /* Safari and Chrome */
  -o-animation-duration: $args; /* Opera */
  animation-duration: $args;
}


/* MIXINS FOR RESPONSIVE DESIGN
============================================= */

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-and-under {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
