#home {
  h1.entry-title {
    color: $gold;
    font: bold 6.5em $headerFont;
    letter-spacing: 5px;
  }

  .fullscreen-video {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .home--content {
    width: 52vw;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;

    p {
      color: $white;
      font: italic 1.1em 'HelveticaNeue';
      letter-spacing: 1px;
      text-transform: none;
      opacity: .8;
    }

    span {
      border-top: 1px solid $white;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 6px;
      margin-top: 12px;
      margin-right: 10px;
      display: inline-block;
      float: left;
      opacity: .8;
    }
  }

  .home--button {
    border-radius: 0;
    border: 2px solid $white;
    padding: 20px 30px;
    margin-top: 40px;
    // width:100%;
    display: block;
    background: transparent;
    background-image: linear-gradient(to left,
        transparent,
        transparent 50%,
        #fff 50%,
        #fff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;

    &:hover {
      background-position: 0 0;

      p {
        color: $black !important;
        @include transition(color .3s ease);
      }
    }

    p:not(.fa) {
      color: $white;
      font: bold 1.05em $bodyFont;
      text-transform: uppercase;
      letter-spacing: 3px;
      opacity: 1;
      display: inline-block;
      margin: 0;
    }
  }
}
