#portfolio {
  margin-top: 100px;
  padding: 0;

  .portfolio--trio {
    height: 470px;
    border: 20px solid $white;
    text-align: center;

    span {
      color: rgba(0, 0, 0, .75);
      background: rgba(255, 207, 207, .4);
      padding: 5px 10px;
      text-transform: uppercase;
      font: 1.5em $bodyFont;
      letter-spacing: 2px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      span {
        color: $white;
        @include transition(all .2s ease);
      }
    }
  }

  #films--trio {
    background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url('assets/img/portfolio--film.jpg') no-repeat 95% 50%;
    @include transition(all .3s ease);

    &:hover {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('assets/img/portfolio--film.jpg') no-repeat 80% 50%;

      @include transition(all .3s ease);
    }
  }

  #photos--trio {
    background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url('assets/img/portfolio--photo.jpg') no-repeat 50% 60%;
    @include transition(all .3s ease);

    &:hover {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('assets/img/portfolio--photo.jpg') no-repeat 30% 60%;

      @include transition(all .3s ease);
    }
  }

  #design--trio {
    background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url('assets/img/portfolio--design.jpg') no-repeat 50% 50%;
    @include transition(all .3s ease);

    &:hover {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('assets/img/portfolio--design.jpg') no-repeat 35% 50%;

      @include transition(all .3s ease);
    }
  }



  #port--main {
    padding: 0 35px 0 50px;
    float: right;         // to tempfix the fixed scroll sidebar

    #port--main-nav {
      text-align: right;
      padding-top: 20px;

      a {
        font-size: 70%;
        letter-spacing: 1px;
        color: $black;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 0 5px;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
          color: $gray;
          text-decoration: none;
          @include transition(all .3s ease);
        }
      }

      .cat--active {
        font-family: $bodyFontBold;
        border-bottom: 4px solid $black;
      }
    }

    h2 {
      font-size: 26px;
      color: $gray;
      background: rgba(255, 207, 207, .4);
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      margin: 15px 0;
      padding: 1px;
    }

    #photos--main, #designs--main {
      margin: 3px;
    }

    .nospacing {
      margin-top: 0;
      padding-top: 0 !important;
    }

    .spacing {
      margin: 10px 0 20px 0;
    }

    .portfolio-display {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 0;
      max-height: 200px;

      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        opacity: .8;
      }
    }
  }

  #port--nav {
    padding: 0 0 0 40px;

    span {
      color: $gray;
      background: rgba(255, 207, 207, .4);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 7px 20px;
      padding: 1px;
      display: inline-block;
      vertical-align: bottom;

      @media (min-width: 979px) and (max-width: 1199px) {
        font-size: 11px;
      }
    }

    img {
      height: 38px;
      width: 38px;
      display: inline-block;
    }

    .middle {
      padding: 10px 0;
    }

    .arrow {
      width: 0;
      height: 0;
      border-top: 19px solid transparent;
      border-bottom: 19px solid transparent;
      border-left: 10px solid $gray;
      position: relative;
      vertical-align: bottom;
      float: right;
    }

    .arrow-hide {
      display: none;
    }

    .arrow-show {
      display: inline-block;
    }

    #arrow--icon {
      margin: 40px auto;
      display: block;
    }
  }
}


// FIXED STICKY SIDEBAR


.affix-top, .affix{
	position: static;
}

.affix-bottom {
  position: absolute;
  width: 213px;
}

@media (min-width: 1200px) {
  .affix-bottom {
    width: 263px;
  }
}

@media (max-width: 970px) {
  #port--nav.affix-top {
    position: static;
  	width: 190px;
  }

  #port--nav.affix {
    position: fixed;
    width: 190px;
    top: 20px;
  }
}

@media (min-width: 1200px) {
  #port--nav.affix-top {
    position: static;
  	width: 190px;
  }

  #port--nav.affix {
    position: fixed;
    width: 190px;
    top: 20px;
  }
}

@media (min-width: 979px) and (max-width: 1199px) {
  #port--nav.affix-top {
    position: static;
  	width: 160px;
  }

  #port--nav.affix {
    position: fixed;
    width: 160px;
    top: 20px;
  }
}
