#portfolio {
  margin-top: 100px;
  padding: 0;
  overflow: hidden;

  @include phone {
    margin-top: 50px;
  }

  @media (min-width: 1900px) {
    width: 1800px;
  }

  @media (min-width: 1600px) and (max-width: 1899px) {
    width: 1500px;
  }

  @import "portfolio/content-trio";
  @import "portfolio/main-content";
  @import "portfolio/nav-styling";
  @import "portfolio/sticky-nav";
  @import "portfolio/mobile-tablet";
}
