@import "../base/includes";

.logo--header {
  top: 7px;
}

#main-logo {
  height: 60px;
  z-index: 6;

  @include phone {
    height: 37px;
  }
}

#fgsnav {
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(132, 132, 132, 0.5);
  width: 100vw;
  border-radius: 0;
  z-index: 5;

  ul {
    a:active, li.navlink-active a {
      border-bottom: 4px solid $gray;
      padding-bottom: 31px;
      margin-bottom: -5px;

      span {
        font-family: $bodyFontBold;
      }
    }

    li a {
      border-bottom: 2px solid transparent;
      padding: 25px 30px 32px;
      margin-bottom: -2px;

      &::after {
        border-bottom: 4px solid $gray;
        padding-bottom: 31px;
        margin-bottom: -5px;
      }

      span {
        color: $gray;
      }
    }
  }
}

.site-info {
  color: $gray;
  opacity: 1;
  padding-top: 50px;
  position: relative;
  right: 5%;

  a, a:hover {
    color: $gray;
  }

  a:hover {
    border-bottom: 2px solid $gray;
  }
}
