.port--main {
  padding: 0 35px 0 50px;
  float: right;         // to tempfix the fixed scroll sidebar

  @include phone {
    float: none;
    width: 100%;
    padding: 0 35px;
  }

  @include tablet {
    float: none;
    width: 100%;
    padding: 0 35px;
  }

  .grid-display {
    display: block;
  }

  .grid-displaynone {
    display: none;
  }

  #film-grid, #photo-grid #design-grid {
    width: calc(100% + 10px);
  }

  .port--main-nav {
    text-align: right;
    padding-top: 20px;
    z-index: 200;

    @include phone {
      text-align: left;
    }

    @include tablet {
      padding-top: 14px;
    }

    a {
      font-size: 70%;
      letter-spacing: 1px;
      color: $black;
      display: inline-block;
      text-transform: uppercase;
      padding: 0 0 5px;
      margin: 0 10px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $gray;
        text-decoration: none;
        @include transition(all .3s ease);
      }
    }

    // .cat--active-film, .cat--active-photo, .cat--active-design {
    //   font-family: $bodyFontBold;
    //   border-bottom: 4px solid $black;
    // }


    // START port--main-nav

    .menu__list {
      float: right;
      position: relative;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin: 0;
	    padding: 0;
	    list-style: none;

      @include phone {
        padding-bottom: 10px;
        float: left;
      }
	  }

    .film-item__port--main-nav,
    .photo-item__port--main-nav,
    .design-item__port--main-nav {
	    display: block;
    }

    // alignment
    .film-item__port--main-nav {
      @include tablet {
        padding-top: 3px;
      }
    }

    .film-cat, .photo-cat, .design-cat {
	    font-family: $bodyFont;
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:hover, &:focus {
        outline: none;
      }
    }

    .film__port--main-nav .film-cat,
    .photo__port--main-nav .photo-cat,
    .design__port--main-nav .design-cat {
	    position: relative;
	    display: block;
	    color: $black;
      line-height: 2.25;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }

    .film__port--main-nav .film-cat:hover, .film__port--main-nav .film-cat:focus,
    .photo__port--main-nav .photo-cat:hover, .photo__port--main-nav .photo-cat:focus,
    .design__port--main-nav .design-cat:hover, .design__port--main-nav .design-cat:focus {
	    color: $gray;
    }

    .film__port--main-nav .film-item__port--main-nav--current .film-cat,
    .photo__port--main-nav .photo-item__port--main-nav--current .photo-cat,
    .design__port--main-nav .design-item__port--main-nav--current .design-cat {
	    color: $black;
      font-family: $bodyFontBold;
      padding: 0;
    }

    .film__port--main-nav .film-cat::before,
    .photo__port--main-nav .photo-cat::before,
    .design__port--main-nav .design-cat::before {
	    content: '';
      margin-bottom: -5px;
	    position: absolute;
	    bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: $black;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transition: -webkit-transform 0.1s;
      transition: transform 0.1s;

      @include phone {
        height: 2.5px;
        margin-bottom: -2.5px;
      }
    }

    .film__port--main-nav .film-item__port--main-nav--current .film-cat::before,
    .photo__port--main-nav .photo-item__port--main-nav--current .photo-cat::before,
    .design__port--main-nav .design-item__port--main-nav--current .design-cat::before {
	    -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

    // END port--main-nav
  }

  h2 {
    font-size: 26px;
    color: $gray;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin: 15px 0;
    padding: 1px;
  }

  #photos--main, #designs--main {
    margin: 3px;
  }

  .nospacing {
    margin-top: 0;
    padding-top: 0 !important;
  }

  .spacing {
    margin: 10px 0 20px 0;

    @include phone {
      margin-bottom: 0;
    }
  }

  .portfolio-display {
    // border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;
    max-height: 200px;

    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      opacity: .8;
    }

    &:hover {
      background: $black;

      img {
        opacity: .5;
      }
    }
  }
}
