#port--nav {
  padding: 0 0 0 40px;

  span {
    color: $gray;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 7px 20px;
    padding: 1px;
    display: inline-block;
    vertical-align: bottom;

    @media (min-width: 979px) and (max-width: 1199px) {
      font-size: 11px;
    }

    @media (min-width: 1600px) and (max-width: 1899px) {
      font-size: 15px;
    }

    @media (min-width: 1900px) {
      font-size: 20px;
    }
  }

  img {
    height: 38px;
    width: 38px;
    display: inline-block;

    @media (min-width: 1600px) and (max-width: 1899px) {
      height: 42px;
      width: 42px;
    }

    @media (min-width: 1900px) {
      height: 50px;
      width: 50px;
    }
  }

  .middle {
    padding: 10px 0;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 10px solid $gray;
    position: relative;
    vertical-align: bottom;
    float: right;

    @media (min-width: 1600px) and (max-width: 1899px) {
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-left: 11px solid $gray;
    }

    @media (min-width: 1900px) {
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 13px solid $gray;
    }
  }

  .arrow-hide {
    display: none;
  }

  .arrow-show {
    display: inline-block;
  }

  #arrow--icon {
    margin: 40px auto;
    display: block;
  }
}
